# PATH=/opt/local/lib/postgresql90/bin:$PATH bin/buildout -c postgres.cfg
# sudo -u postgres /opt/local/lib/postgresql90/bin/createdb zope_sqlalchemy_tests
# sudo -u postgres /opt/local/lib/postgresql90/bin/createuser -s <username>
# sudo -u postgres /opt/local/lib/postgresql90/bin/postgres -D /opt/local/var/db/postgresql90/defaultdb -d 1
[buildout]
extends = buildout.cfg
find-links = http://initd.org/pub/software/psycopg/
allow-hosts += initd.org
parts += testpg

[test]
eggs += psycopg2

[testpg]
<= test
environment = pgenv

[scripts]
eggs += psycopg2

[pgenv]
TEST_DSN = postgres:///zope_sqlalchemy_tests
