# INCLUDEDIR=/opt/local/include/postgresql90 PATH=/opt/local/lib/postgresql90/bin:$PATH bin/buildout -vvvc postgres.cfg
# sudo -u postgres /opt/local/lib/postgresql90/bin/postgres -D /opt/local/var/db/postgresql90/defaultdb -d 1
[buildout]
extends = buildout.cfg
find-links = http://initd.org/pub/software/psycopg/
allow-hosts += initd.org

[test]
eggs += psycopg2
environment = testenv

[scripts]
eggs += psycopg2

[testenv]
TEST_DSN = postgres:///zope_sqlalchemy_tests
