# PATH=/opt/local/lib/postgresql83/bin:$PATH bin/buildout -vvvc postgres.cfg
# /opt/local/lib/postgresql83/bin/postgres -D /opt/local/var/db/postgresql83/defaultdb -d 1
[buildout]
extends = buildout.cfg
find-links = http://initd.org/pub/software/psycopg/
versions = versions

[versions]
SQLAlchemy = 0.4.8
z3c.sqlalchemy = 1.1.15
zope.component = 3.4.0

[test]
eggs +=
     psycopg2
     z3c.sqlalchemy
     zope.component
     zope.exceptions
     zope.schema
environment = testenv

[scripts]
eggs = ${test:eggs}

[testenv]
TEST_DSN = postgres:///zope_sqlalchemy_tests
