# See: https://code.google.com/p/pysqlite-static-env/

[buildout]
extends = buildout.cfg
parts =
    pysqlite
    test
    scripts
versions = versions

[versions]
pysqlite = 2.6.3-static-env-savepoints

[test]
eggs += pysqlite

[pysqlite]
recipe = zc.recipe.egg:custom
environment = pysqlite-env
find-links = http://pysqlite-static-env.googlecode.com/files/pysqlite-2.6.3-static-env-savepoints.tar.gz

[pysqlite-env]
STATICBUILD = true
